.header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	font-family: MontserratMedium;
	height: 50px;
	margin: 30px 0 70px 0;
	@media (max-width: 1081px) {
		margin: 30px 0 20px 0;
	}
	&__RA {
		color: #83838E;
		font-size: 1.8vw;
		font-family: MontserratSemiBold;
		@media (max-width: 1081px) {
			font-size: 22px;
		}
	}
	&__buttons {
		width: 40%;
		display: flex;
		justify-content: space-between;
		font-size: 1vw;
		color: #ADADB9;
		@media (max-width: 1081px) {
				display: none;
			}
		&_nav {
			display: flex;
			justify-content: space-around;
			width: 70%;			
		}
		&_lang {
			color: #0094FF;
		}
		&_item {
			text-decoration: none;
			&:visited {
				color: #ADADB9;
			}
			&:link {
				color: #ADADB9;
			}
			&:hover {
				cursor: pointer;
			}
		}
	}
	&__swipeButton {
		display: none;
		@media (max-width: 1081px) {
			display: block;
			width: 38px;
			border-bottom:  3px solid #ADADB9;
			
		}
		&:before {
			display: none;
			@media (max-width: 1081px) {
				display: block;
				width: 38px;
				border-bottom: 3px solid #ADADB9;
				content: '';
				margin-bottom: 3px;
				
			}
		}
	}
}