.hire {
	margin: 0 0 180px 0;
	font-size: 1.8vw;
	font-family: MontserratRegular;
	@media (max-width: 1081px) {
		margin: 0 0 80px 0;
		width: 100%;
		font-size: 4vw;
	}
	&__tittle {
		color: #0094FF;
		display: block;
	}
	&__text1 {
		margin: 16px 0 0 0;
		display: block;
		
	}
	&__text2 {
		margin: 20px 0 0 0;
		display: block;

	}
	&__mail {
		margin: 40px 0 0 0;
		display: block;
		color: #0094FF;
		font-family: MontserratSemiBold;
		&:visited {
			color: #0094FF;
		}
	}
}