.repository {
	margin: 0 0 207px 0;
	display: flex;
	justify-content: space-between;
	height: auto;
	@media (max-width: 1081px) {
			display: block;
			margin: 0 0 115px 0;
		}
	&__stickyBox {
		display: inline-block;
		position: relative;
		width: 45%;
		@media (max-width: 1081px) {
			display: block;
			width: 100%;
			margin: 0 0 40px 0;
		}
	}
	&__box {
		display: inline-block;
		position: relative;
		width: 45%;
		height: 375px;
		@media (max-width: 1081px) {
			display: block;
			width: 100%;
			height: auto;
		}

		&_item {
			font-size: 1.4vw;
			z-index: 2;
			@media (max-width: 1081px) {
				font-size: 4vw;
			}
		}	
			&_name {
				cursor: pointer;
				text-decoration: none;
				display: block;
				margin: 0 0 15px 0;
				color: #83838E;
				font-family: MontserratSemiBold;
			}	
			&_description {
				cursor: pointer;
				text-decoration: none;
			}

		&_nav {
			font-size: 1.8vw;
			width: 20%;
			z-index: 2;
			@media (max-width: 1081px) {
				font-size: 6vw;
			}
		}
			&_button {
				display: inline-block;
				cursor: pointer;
				font-family: MontserratRegular;
				margin: 0 0 0 10px;
			}
	}
}