body {
	width: 100%;
	margin: 0;
	position: relative;
	height: 100%;
	overflow-x: hidden;
}
.preloader {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: white;
	&-off {
		z-index: -1000;
	}
	&__box {
		position: absolute;
		width: 70px;
		height: 70px;
		top: 40vh;
		right: 45%;
		animation: spin 2.5s ease-out infinite;
		&-2 {
			position: absolute;
			width: 70px;
			height: 70px;
			top: 0;
			right: 45%;
			animation: spin 2.5s ease-out infinite;
		}
		&_item1 {
			background-image: url('../imgs/Ellipse-blue.svg');
			background-size: cover;
			width: 32px;
			height: 70px;
			position: absolute;
			left: 0;
		}
		&_item2 {
			background-image: url('../imgs/Ellipse-yellow.svg');
			background-size: cover;
			width: 30px;
			height: 30px;
			position: absolute;
			right: 0;
			top: 0;
		}
		&_item3 {
			background-image: url('../imgs/Ellipse-azure.svg');
			background-size: cover;
			repeat: no-repeat;
			width: 30px;
			height: 30px;
			position: absolute;
			right: 0;
			bottom: 0;
		}
	}
}
@keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(720deg); 
    }
}
.swipeBar {
	position: absolute;
	width: 80px;
	height: 99%;
	bottom: 0;
	right: 0;
	z-index: 4;
	@media (min-width: 1081px) {
		display: none;
	}
}
.swipeMenu {
	z-index: 3;
	position: fixed;
	padding: 0 7.5vw 0 7.5vw;
	right: -100vw;
	top: 0;
	height: 100vh;
	display: none;
	width: 85%;
	margin: 0 auto;
	font-family: MontserratSemiBold;
	font-size: 20px;
	color: #0094FF;
	&__open {
		overflow-y: hidden;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: white;
	}
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&_closeButton {
			background-image: url('../imgs/Vector.png');
			background-size: cover;
			repeat: no-repeat;
			width: 27px;
			height: 27px;
			margin-left: 20px;
		}
	}
	&__center {
		width: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: 25vh;
		margin: 6vh 0;
		&_item {
			text-align: center;

		}
	}
	&__contact {
		display: block;
		margin: 0 auto;
		&_title {
			text-align: center;
			display: block;
			
		}
		&_item {
			text-align: center;
			display: block;
			color: #ADADB9;
			font-family: MontserratMedium;
		}
	}
	&__socNets {
		display: flex;
		justify-content: space-between;
		width: 280px;
		margin: 0 auto;
	}
	@media (min-width: 1081px) {
		display: none;
	}
}


.sideMenu {
	position: sticky;
	top: 20px;
	right: 0;
	z-index: 3;
	&__pageBlock {
		top:0;
		right: 138px;
		width: 94px;
		height: 50px;
		border-radius: 25px;
		position: absolute;
		background-color: #83838E;
		align-items: center;
		color: white;
		display: flex;
		justify-content: center;
		font-size: 17px;
		font-family: 'Times New Roman';
    	font-style: italic;
    	opacity: 0;
    	&_number {
    		font-style: normal;
    		padding: 6px;
    	}
    	
	}
	&__burger, &__share {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		position: absolute;
		background-color: #83838E;
		transition: background-color 0.4s ease-out 0.1s;
		&:hover {
			background-color: black;
		}
	}
	&__burger {
		top:0;
		right: 20px;
	}
	&__sideBar {
		position: absolute;
		top: 0;
		right: -280px;
		width: 280px;
		height: auto;
		opacity: 0.85;
		background-color: white;
		&_item {
			width: 280px;
			height: auto;
			background-color: white;
			display: flex;
 			justify-content: center;
 			align-items: center;
 			background-color: white;
 			&:hover {
 				border: 0.5px solid #ADADB9;
 				width: 279px;
 			}
		}
		&_title {
			color:white;
			display: block;
			font-family: MontserratSemiBold;
			font-size: 25px;
			background-color: #2F2F38;
			text-align: center;
			padding: 10px;
			opacity: 0.95;
		}
		&_about {
			&-img{
				display: block;
				background-image: url(../imgs/about.png);
				width: 280px;
				height: 157px;
				background-size: cover;
	   	 		background-repeat: no-repeat;
   	 		}
   	 		&-item {   	 			
				width: 280px;
				height: 160px;				
			}
		}
		&_works {
			&-img{
				display: block;
				background-image: url(../imgs/works.png);
				width: 260px;
				height: 110px;
				background-size: cover;
	   	 		background-repeat: no-repeat;
   	 		}
   	 		&-item {
				width: 280px;
				height: 120px;
			}
		}
		&_skills {
			&-img{
				display: block;
				background-image: url(../imgs/skills.png);
				width: 215px;
				height: 100px;
				background-size: cover;
	   	 		background-repeat: no-repeat;
   	 		}
   	 		&-item {
				width: 280px;
				height: 120px;
			}
		}
		&_git {
			&-img{
				display: block;
				background-image: url(../imgs/repos.png);
				width: 200px;
				height: 85px;
				background-size: cover;
	   	 		background-repeat: no-repeat;
	   	 		margin-left: -15px;
   	 		}
   	 		&-item {
				width: 280px;
				height: 120px;
			}
		}
		&_contact {
			&-img{
				display: block;
				background-image: url(../imgs/contact.png);
				width: 280px;
				height: 100px;
				background-size: cover;
	   	 		background-repeat: no-repeat;
   	 		}
   	 		&-item {
				width: 280px;
				height: 120px;
				background-color: #2F2F38;
			}
		}	
	}
	&__burger_snippet {
		width: 25px;
		height: 3.5px;
		left: 12.5px;
		position: absolute;
		z-index: 20;
		background-color: white;
		transition: 0.5s ease 0s;
	}
	@media (max-width: 1081px) {
		display: none;
	}
}
.snippet1 {
	top: 22.5px;	
}
.snippet2 {
	top: 16.5px;
}
.snippet3 {
	top: 28.5px;
}
.taped1 {
	opacity: 0; 
}
.taped2 {
	backface-visibility: hidden;
  	transform: rotate(-410deg);
  	transition: 0.55s 0.1s;
  	top:22.5px;
  	width: 30px;
  	left: 10px;
}
.taped3 {
	backface-visibility: hidden;
  	transform: rotate(50deg);
  	transition: 0.55s 0.1s;
  	top:22.5px;
  	width: 30px;
  	left: 10px;
}
@keyframes pageOpacity {
 	0% {opacity: 0}
 	20% {opacity: 1}
 	80% {opacity: 1}
 	100% {opacity: 0}
}
.share_hide {
	display: none;
}


.header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	font-family: MontserratMedium;
	height: 50px;
	margin: 30px 0 70px 0;
	@media (max-width: 1081px) {
		margin: 30px 0 20px 0;
	}
	&__RA {
		color: #83838E;
		font-size: 1.8vw;
		font-family: MontserratSemiBold;
		@media (max-width: 1081px) {
			font-size: 22px;
		}
	}
	&__buttons {
		width: 40%;
		display: flex;
		justify-content: space-between;
		font-size: 1vw;
		color: #ADADB9;
		@media (max-width: 1081px) {
				display: none;
			}
		&_nav {
			display: flex;
			justify-content: space-around;
			width: 70%;			
		}
		&_lang {
			color: #0094FF;
		}
		&_item {
			text-decoration: none;
			&:visited {
				color: #ADADB9;
			}
			&:link {
				color: #ADADB9;
			}
			&:hover {
				cursor: pointer;
			}
		}
	}
	&__swipeButton {
		display: none;
		@media (max-width: 1081px) {
			display: block;
			width: 38px;
			border-bottom:  3px solid #ADADB9;
			
		}
		&:before {
			display: none;
			@media (max-width: 1081px) {
				display: block;
				width: 38px;
				border-bottom: 3px solid #ADADB9;
				content: '';
				margin-bottom: 3px;
				
			}
		}
	}
}
.content {
	width: 65%;
	min-width: 720px;
	margin: 0 20vw 0 auto;
	background-color: white;
	@media (max-width: 1081px) {
		margin: 0 7.5vw 0 7.5vw;
		width: 85%;
		min-width: 0px;

	}
}




.myInfo {
	font-family: MontserratRegular;
	width: 100%;
	margin: 0 0 170px 0;
	@media (max-width: 1081px) {
			margin: 0 0 80px 0;
		}
	&__hi {
		display: block;
		margin: 0 0 34px 0;
		font-size: 1.9vw;
		width: 84%;
		@media (max-width: 1081px) {
			font-size: 7vw;
			width: 90%;
			margin: 0 0 20px 0;
		}
	}
	&__text{
		display: block;
		margin: 0 0 20px 0;
		font-size: 1.4vw;
		@media (max-width: 1081px) {
			font-size: 5vw;
			width: 90%;
		}
	}
	&__triangle {
	}
	&__blueText {
		color: #0094FF;
		text-decoration: underline;
		&_underlineFree {
			color: #0094FF;
		}
	}
	&__mainBox {
		font-family: MontserratBold;
		font-size: 4.5vw;
		margin: 0 0 55px 0;
		@media (max-width: 1081px) {
			font-size: 8vw;
			margin: 0 0 35px 0;
		}
		&_img {
			display: inline-block;
			background-image: url('../imgs/I.png');
			width: 13vw;
			height: 13vw;
			min-height: 200px;
			min-width: 200px;
			background-size: contain;
			background-repeat: no-repeat;
			@media (max-width: 1081px) {
				width: 28vw;
				height: 28vw;
				min-height: 120px;
				min-width: 120px;
			}
		}
		&_text {
			display: inline-block;
		}
		&_name {
			display: block;
			color: #83838E;
		}
		&_surname {
			display: block;
			color: #FFC700;
		}
		&_point {
			color: #83838E;
		}
	}
}


.works {
	margin: 0 0 229px 0;
	width: 90%;
	@media (max-width: 1081px) {
			margin: 0 0 105px 0;
			width: 100%;
		}
	&__title {
		display: flex;
		justify-content: space-between;
		margin: 0 0 30px 0;
		&_left {
			color: #0094FF;
			display: block;
			font-family: MontserratSemiBold;
			font-size: 1.8vw;
			@media (max-width: 1081px) {
				font-size: 6vw;
			}
		}
		&_right {
			font-family: MontserratRegular;
			font-size: 1vw;
			color: #ADADB9;
			@media (max-width: 1081px) {
				font-size: 6vw;
			}
		}
	}
	&__imgBox {
		max-height: 16vw;
		min-height: 178px;
		width: 100%;
		@media (max-width: 1081px) {
			min-width: 0px;
			max-height: 100vw;
			min-height: 0px;
		}
	}
	&__img {
		width: 58.5%;
		min-width: 648px;
		z-index: 2;
		display: flex;
		justify-content: space-between;
		max-height: 16vw;
		min-height: 178px;
		position: absolute;
		@media (max-width: 1081px) {
			flex-direction: column;
			width: 85%;
			min-width: 0px;
			max-height: 100vw;
			min-height: 0px;
		}
		&_left {
			display: inline-block;
		    background-image: url(../imgs/Tesla.png);
		    transition: opacity 0.4s ease-out;
		    @media (max-width: 1081px) {
		    	margin: 0 0 30px 0;
			}
		    &:hover {
		    	opacity: 0;
		    }   
		}
		&_right {
			display: inline-block;
		    background-image: url(../imgs/Game.png);
		    background-color: green;
		    transition: opacity 0.4s ease-out;
		    &:hover {
		    	opacity: 0;
		    } 
		}
	}
	&__landing {
		z-index: 1;
		display: flex;
		justify-content: space-between;
		max-height: 16vw;
		min-height: 178px;
		@media (max-width: 1081px) {
			flex-direction: column;
			width: 100%;
			min-width: 0px;
			max-height: 100vw;
			min-height: 0px;
		}
		&_item {
			display: inline-flex;
			justify-content: space-between;
			flex-direction: column;
			color: white;
		}
		&_left {
		    background-color: red;
		    @media (max-width: 1081px) {
		    	margin: 0 0 30px 0;
			}
		}
		&_right {
		    background-color: green;   
		}
		&_tittle {
			margin: 25px 40px;
			display: block;
			font-family: MontserratSemiBold;
			font-size: 1vw;
			@media (max-width: 1081px) {
		    	font-size: 4vw;
			}
		}
		&_text {
			margin: 25px 40px;
			display: block;
			font-family: MontserratRegular;
			font-size: 1vw;
			@media (max-width: 1081px) {
		    	font-size: 2vw;
			}

		}
	}
}
.recentImg {
	width: 48.5%;
	height: 16vw;
	min-height: 178px;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 11px -3px black;
    @media (max-width: 1081px) {
		display: flex;
		width: 100%;
		height: 46.5vw;
		min-height: 0px;
	}
}

.skills {	
	margin: 0 0 207px 0;
	display: flex;
	justify-content: space-between;
	height: auto;
	@media (max-width: 1081px) {
			display: block;
			margin: 0 0 115px 0;
		}
	&__stickyBox {
		display: inline-block;
		position: relative;
		width: 45%;
		@media (max-width: 1081px) {
			display: block;
			width: 100%;
			margin: 0 0 30px 0;
		}
	}
	&__itemBox {
		display: inline-block;
		width: 45%;
		@media (max-width: 1081px) {
			display: block;
			width: 100%;
		}
	}
	&__item {
		display: block;
		font-family: MontserratRegular;
		font-size: 1.4vw;
		@media (max-width: 1081px) {
			font-size: 6vw;
		}
		&_title {
			display: block;
			margin: 0 0 15px 0;
			color: #83838E;
			font-family: MontserratSemiBold;
		}
		&_text {
			display: block;
			margin: 0 0 47px 0;

		}
		&_number {
			color: #FFC700;
		}
	}
}

	
.sticky {
	top: 200px;
	position: sticky;
	width: 100%;
	height: 120px;
	font-family: MontserratRegular;
	@media (max-width: 1081px) {
			height: auto;
		}
	&_title {
		color: #0094FF;
		display: block;
		font-family: MontserratSemiBold;
		font-size: 1.8vw;
		@media (max-width: 1081px) {
			font-size: 6vw;
		}
	}
	&_text {
		display: block;
		font-size: 1.9vw;
		@media (max-width: 1081px) {
			font-size: 6vw;
		}
	}
}



.repository {
	margin: 0 0 207px 0;
	display: flex;
	justify-content: space-between;
	height: auto;
	@media (max-width: 1081px) {
			display: block;
			margin: 0 0 115px 0;
		}
	&__stickyBox {
		display: inline-block;
		position: relative;
		width: 45%;
		@media (max-width: 1081px) {
			display: block;
			width: 100%;
			margin: 0 0 40px 0;
		}
	}
	&__box {
		display: inline-block;
		position: relative;
		width: 45%;
		@media (max-width: 1081px) {
			display: block;
			width: 100%;
		}

		&_item {
			font-size: 1.4vw;
			z-index: 2;
			@media (max-width: 1081px) {
				font-size: 6vw;
			}
		}	
			&_name {
				cursor: pointer;
				text-decoration: none;
				display: block;
				margin: 0 0 15px 0;
				color: #83838E;
				font-family: MontserratSemiBold;
			}	
			&_description {
				cursor: pointer;
				text-decoration: none;
			}

		&_nav {
			font-size: 1.8vw;
			width: 20%;
			z-index: 2;
			@media (max-width: 1081px) {
				font-size: 6vw;
			}
		}
			&_button {
				display: inline-block;
				cursor: pointer;
				font-family: MontserratRegular;
				margin: 0 0 0 10px;
			}
	}
}

.hire {
	margin: 0 0 180px 0;
	font-size: 1.8vw;
	font-family: MontserratRegular;
	@media (max-width: 1081px) {
		margin: 0 0 80px 0;
		width: 100%;
		font-size: 6vw;
	}
	&__tittle {
		color: #0094FF;
		display: block;
	}
	&__text1 {
		margin: 16px 0 0 0;
		display: block;
		
	}
	&__text2 {
		margin: 20px 0 0 0;
		display: block;

	}
	&__mail {
		margin: 40px 0 0 0;
		display: block;
		color: #0094FF;
		font-family: MontserratSemiBold;
		&:visited {
			color: #0094FF;
		}
	}
}


.footer {
	padding: 130px 0 60px 0;
	margin: 180px 0 0 0;
	display: flex;
	justify-content: space-around;
	background-color: #2F2F38;
	font-family: MontserratRegular;
	font-size: 23px;
	@media (max-width: 1081px) {
			display: block;
			width: 85%;
			padding: 0 7.5vw 20px 7.5vw;
			margin: 80px 0 0 0;
			height: inherit;
		}
	&__me {
		width: 30%;
		&_title {
			font-size: 33px;
			display: block;
			color: #DFDFE6;
			margin: 0 0 12.5px 0;
		}
		&_text {
			display: block;
			 color: #ADADB9;
		}
		@media (max-width: 1081px) {
			display: block;
			width: 100%;
			margin: 0 0 30px 0;
			padding: 40px 0 0 0;
		}
	}
	&__menu {
		display: block;
		color: #DFDFE6;
		&_title {
			margin: 0 0 28px 0;
			display: block;
			@media (max-width: 1081px) {
				margin: 0 0 60px 0;
			}
		}
		&_item {
			display: block;
			color: #ADADB9;
			margin: 0 0 8px 0;
			cursor: pointer;
		}
		@media (max-width: 1081px) {
			display: none;
		}
	}
	&__contact {
		display: block;
		color: #DFDFE6;
		&_title {
			display: block;
			margin: 0 0 28px 0;
			@media (max-width: 1081px) {
				margin: 0 0 20px 0;
			}
		}
		&_item {
			display: block;
			margin: 0 0 8px 0;

		}

	}
	&__socNets {
		display: flex;
		justify-content: space-between;
		width: 270px;
		@media (max-width: 1081px) {
				margin: 20px 0 0 0;
			}
		&_item {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 68px;
			height: 68px;
			background-color: #ADADB9;
		}
		&_vk {
			background-image: url(../imgs/vk.png);
			width: 37px;
			height: 22px;
			background-size: cover;
	   	 	background-repeat: no-repeat;
		}
		&_gitHub {
			background-image: url(../imgs/git.png);
			width: 27px;
			height: 31px;
			background-size: cover;
   	 		background-repeat: no-repeat;
		}
		&_in {
			background-image: url(../imgs/LinkedIn.png);
			width: 31px;
			height: 29px;
			background-size: cover;
   	 		background-repeat: no-repeat;
		}

	}
}

